@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary1: hsl(0, 100%, 74%);
  --primary2: hsl(154, 59%, 51%);
  --accent1: hsl(248, 32%, 49%);
  --neutral1: hsl(249, 10%, 26%);
  --neutral2: hsl(246, 25%, 77%);

  --fs: 16px;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs);
  background-image: url('../assets/bg-intro-desktop.png');
  background-color: var(--primary1);
  color: hsl(0, 0%, 100%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 95vh;
}

.container > div {
  flex: 1;
  padding: 0 20px;
}

h1 {
  font-size: 40px;
  font-weight: var(--fw700);
  line-height: 50px;
}

p {
  font-size: var(--fs);
  opacity: 0.8;
}

.box {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.box p {
  margin: 0;
}

.box-blue {
  background-color: var(--accent1);
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-control {
  position: relative;
  margin-bottom: 30px;
}

.form-control small {
  color: var(--primary1);
  font-weight: 600;
  position: absolute;
  bottom: -24px;
  right: 0;
  opacity: 0;
  text-align: right;
}

input {
  display: block;
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  border: 1.3px solid hsl(246, 25%, 77%);
  font-weight: var(--fw500);
  font-size: 14px;
  font-family: inherit;
}

.form-control.error input {
  border-color: var(--primary1);
  color: var(--primary1);
}

.form-control.error input::placeholder {
  color: var(--primary1);
}

input:focus {
  border: 1.3px solid var(--accent1);
  outline: none;
}

.form-control img {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: 20px;
}

.form-control.error img {
  opacity: 1;
}

button {
  background-color: var(--primary2);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: 1px solid hsl(154, 59%, 45%);
  box-shadow: 0 2px hsl(154, 59%, 45%);
  font-family: inherit;
  font-weight: var(--fw600);
  text-transform: uppercase;
  padding: 15px 25px;
  display: block;
  width: 100%;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

button:active {
  box-shadow: 0 0 hsl(154, 59%, 45%);
  transform: translateY(2px);
}

.form-control small {
  opacity: 0;
}

.form-control.error small {
  opacity: 1;
}

small {
  color: var(--neutral2);
  padding-top: 10px;
}

small a {
  color: var(--primary1);
  font-weight: var(--fw700);
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .container {
    flex-direction: column;
  }
}
