@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary1: hsl(0, 100%, 74%);
  --primary2: hsl(154, 59%, 51%);
  --accent1: hsl(248, 32%, 49%);
  --neutral1: hsl(249, 10%, 26%);
  --neutral2: hsl(246, 25%, 77%);

  --fs: 16px;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs);
  /* min-height: 100vh; */
  background-image: url("../assets/bg-intro-mobile.png");
  background-color: var(--primary1);
}

.container {
    display: flex;
    flex-direction: column;
}

.top {
    text-align: center;
    color: #fff;
}

.header {
    background-color: var(--accent1);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
